<head>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
<div id="loginaa" style="padding-top:120px">
    <div class="showcase-content">
        <button id="close" style="text-align:center;float:right">close</button>
        <div class="formm">
            @using (Html.BeginForm("SignIn", "Login"))
            {
                @*<form>*@
                <h1>Sign In</h1>
                <div class="info">
                    <input class="email" type="email" placeholder="Email or phone number" name="taikhoan"> <br>
                    <p style="text-align: center;color:red"> @ViewData["Error"]</p>
                    <input class="email" type="password" placeholder="Password" name="matkhau">
                    <p style="text-align: center;color:red"> @ViewData["Error2"]</p>
                    <p style="text-align: center;color:red">  @ViewBag.thongbao</p>
                </div>
                <div class="btn">
                    <button class="btn-primary" type="submit">Sign In</button>
                </div>
                <div class="help">
                    <div>
                        <input value="true" type="checkbox"><label>Remember me</label>
                    </div>

                    <a href="https://www.netflix.com/dz-en/LoginHelp">Need Help ?</a>
                </div>
                @*</form>*@
            }
        </div>
        <div class="fcbk">
            <a href="LoginFacebook">
                <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook">
            </a>
            <p>Login with Facebook</p>
        </div>
        <div class="signup">
            <p>New to Netflix ?</p>
            <a href="">Sign up now</a>
        </div>
        <div class="more">
            <p>
                This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a>
            </p>
        </div>


    </div>
</div>
<script>
    //Hiển Thị
    $("#demo").click(function () {
        $("#loginaa").fadeIn(500);
    });
    $("#demo1").click(function () {
        $("#loginaa").fadeIn(500);
    });
    $("#demo2").click(function () {
        $("#loginaa").fadeIn(500);
    });
    //Ẩn Đi
    $("#close").click(anform);
    function anform() {
        $("#loginaa").hide();
    }
</script>
