
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Landing.css" rel="stylesheet" />
    <title>Landing</title>
</head>
<body>
    <header class="showcase">
        <!-- Showcase top -->
        <div class="showcase-top">
            <img src="img/logo.png" alt="Netflix Logo">
            <a href="#" class="btn btn-rounded">Sign In</a>
        </div>
        <!-- Showcase content -->
        <div class="showcase-content">
            <h1>See what's next.</h1>
            <p>Watch anywhere. Cancel at anytime.</p>
            <a href="#" class="btn btn-xl">
                Try 30 days free <i class="fas fa-chevron-right btn-icon"></i>
            </a>
        </div>
    </header>
</body>
</html>
