:root {
    --netflix-red: #FF2323;
    --netflix-red-hover: #FF0000;
    --dark: #161616;
    --shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.45);
}

* {
    margin: 0;
    padding: 0;
    /* Don't let padding affect width */
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Showcase */

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('/Images/Login/bg.jpg') no-repeat center center/cover;
}

/* Pseudo-element to add shadow in showcase */
.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 230px 150px #000 inset;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img {
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* Transform to center */
    transform: translate(-50%, -50%);
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.showcase-content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    margin: auto;
    margin-top: 10rem;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.showcase-content h1 {
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}

.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-weight: normal;
}

/* Tabs */
.tabs {
    background: var(--dark);
    padding-top: 2rem;
    border-bottom: 2px solid #3d3d3d;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.1rem;
    padding-top: 0.5rem;
}

.tabs .container > div {
    padding: 1.5rem;
}

.tabs .container > div:hover {
    color: #fff;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--netflix-red) 4px solid;
}

/* Hide all tab content initially */
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
}

.show {
    display: block !important;
}

/* Tab content */

.tab-content {
    padding: 3rem 0;
    background: #000;
}

#tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

#tab-2-content .tab-2-content-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

#tab-3-content-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: center;

}

/* Table */

.table {
    width: 100%;
    margin-top: 2rem;
    border-spacing: 0;
}

.table thead th {
    padding: 1rem;
}

.table tbody tr td {
    padding: 0.75rem 2rem;
    text-align: center;
}

.table tbody tr td:first-child {
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background: #222;
}

/* Footer */

.footer {
    max-width: 55%;
    margin: 6rem auto;
    overflow: auto;
}

.footer .footer-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

.footer li {
    line-height: 2;
}

.footer, .footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
}



/* Container */

.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Text styles */

.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-md {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999;
}

.text-white {
    color: #fff;
}

.text-upper {
    text-transform: uppercase;
}

/* Buttons */

.btn {
    display: inline-block;
    background: #c0392b;
    color: #fff;
    margin-right: 0.5rem;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: var(--shadow);
    border-radius: 3px;
}

.btn:hover {
    background: var(--netflix-red-hover);
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
}

.btn-l {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
}

.btn-icon {
    margin-left: 1rem;
}

/* Media Queries */

@media(max-width:960px) {
    .showcase {
        height: 94vh;
    }

    .hide-sm {
        display: none;
    }

    .showcase-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcase-content h1 {
        font-size: 3.6rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1.5rem;
    }

    .btn-xl {
        font-size: 1.6rem;
    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-lg {
        font-size: 1.2rem;
    }
    
    .text-md {
        font-size: 1rem;
    }

    .footer {
        max-width: 85%;
    }
}

@media(max-width:800px) {
    .showcase::after {
        background: rgba(0, 0, 0, 0.01);
    }

    #tab-1-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #tab-2-content .tab-2-content-top {
        display: block;
        text-align: center;
    }

    #tab-2-content .tab-2-content-bottom {
        grid-template-columns: 1fr;
    }
}
/*LOGO*/
    .main-color {
        color: var(--main-color);
    }
    * {
        text-align: center;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .logo {
        font-size: 2rem;
        font-weight: 900;
    }
    :root {
        --main-color: #c0392b;
        --body-bg: #181616;
        --box-bg: #221f1f;
        --text-color: #ffffff;
        --nav-height: 60px;
        --space-top: 30px;
    }
    :root {
        --netflix-red: #FF2323;
        --netflix-red-hover: #FF0000;
        --dark: #161616;
        --shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.45);
    }
    a:-webkit-any-link {
        cursor: pointer;
    }
</style>
