@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>
    <!-- Custom fonts for this template-->
    <link href="~/Content/Admin1/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/Admin1/css/sb-admin-2.css" rel="stylesheet" />
    <!-- Custom user for this template-->
    <link href="~/Content/Admin1/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Admin")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-beam"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Trang chủ phim</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider" />

            <!-- Heading -->
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" onclick="thongke()" style="cursor:pointer;">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Thống kê</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Danh mục</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Chỉnh sửa các danh mục</h6>
                        <a class="collapse-item" onclick="theloai()">Thể loại</a>
                        <a class="collapse-item" onclick="quocgia()">Quốc gia</a>


                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Tài khoản</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" onclick="nguoidung()">Người dùng</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Danh sách phim</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" onclick="phimbo()">Phim bộ </a>
                        <a class="collapse-item" onclick="phim()">Phim lẻ </a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Thủ nhỏ menu -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>

                    </button>

                    <!-- Topbar Search -->
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @*<span class="mr-2 d-none d-lg-inline text-gray-600 small">Đăng nhập </span>*@

                                <div class="user-login" style="margin-left: 10px" onclick="document.getElementById('id01').style.display='block'"><i class="fas fa-user icon-login"></i></div>
                                @*<img class="img-profile rounded-circle" src="~/Content/img/avatar.jpg" />*@
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a onclick="return ConfirmThoat()" class="dropdown-item" href="/DangNhapDangKy/DangXuat">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid link" id="Display">

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Nguyen Duc Bao Son</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <script>
        function ConfirmThoat() {
            if (confirm("Bạn có muốn đăng xuất không không ?"))
                return true;
            else
                return false;
        }
        FocusEvent = false;
        checked = false;
    </script>
    <!-- Bootstrap core JavaScript-->

    <script src="~/Content/Admin1/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Admin1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/Admin1/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <!--Thu nhỏ menu-->
    <script src="~/Content/Admin/js/sb-admin-2.min.js"></script>
    <!-- cripts tài khoản-->
    <script src="~/Content/Admin1/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin1/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/Admin1/js/demo/datatables-demo.js"></script>
    <script src="~/Content/Admin1/js/phim.js"></script>
    <script src="~/Content/Admin1/js/quocgia.js"></script>
    <script src="~/Content/Admin1/js/theloai.js"></script>
    <script src="~/Content/Admin1/js/nguoidung.js"></script>
    <script src="~/Content/Admin1/js/thongke.js"></script>
    <script>
        function phimbo() {
            $('#Display').empty();
            $.ajax({
                type: 'GET',
                url: 'https://localhost:44301/api/TVSeries',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    var str = '<div class="row"><div class="col-10"> <h1 class="h3 mb-2 text-gray-800">Danh sách phim bộ</h1></div><div class="col-2"><div style="float: right"><button type="button" class="btn btn-success" >Thêm</button></div></div></div > <br /> <div class="row">';
                    $.each(data, function (key, val) {
                        str += '<div class="col-lg-3 col-md-4 col-sm-6 col-12"><div class="card mb-5 box-shadow" ><div style="height:330px"><a href=""><img class="card-img-top" src="/Images/Index/' + val.Images + '" alt="Card image cap"></a></div><div class="card-body" style="margin-left:-15px"><p class="card-text" style="text-align:left;overflow: hidden;-webkit-line-clamp:1;display: -webkit-box;-webkit-box-orient: vertical;"><b>Tên phim : </b>' + val.Name + '</p><p class="card-text" style="overflow: hidden;-webkit-line-clamp:3;display: -webkit-box;-webkit-box-orient: vertical;"><b>Nội dung : </b>' + val.Descripton + '</p><p class="card-text"><b>Thể Loại : </b>' + val.IDCategory + '</p><p class="text-muted"><b>Số Tập :</b>120 Phust</p><p class="card-text"><b>Năm Phát Hành : </b>' + val.Year + '</p> <div class="d-flex justify-content-between align-items-center"> <div>Thêm tập </div><div>Sửa</div></div></div ></div ></div >';
                    });
                    str += '</div> ';
                    $('#Display').html(str);
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }

    </script>
</body>
</html>


