/*!  
        // 3. Loader  
        // --------------------------------------------------*/
.loader {
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    z-index: 10000000;
    background: Black;
    height: 100%;
    width: 100%;
    margin: auto;
}

.strip-holder {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    margin-left: -50px;
    position: relative;
}

.strip-1,
.strip-2,
.strip-3 {
    width: 20px;
    height: 20px;
    background: #dc143c;
    position: relative;
    -webkit-animation: stripMove 2s ease infinite alternate;
    animation: stripMove 2s ease infinite alternate;
    -moz-animation: stripMove 2s ease infinite alternate;
}

.strip-2 {
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
    background-color: #daa520;
}

.strip-3 {
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    background-color: #00ffff;
}

@-webkit-keyframes stripMove {
    0% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
    }

    50% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        transform: scale(4, 1);
        -webkit-transform: scale(4, 1);
        -moz-transform: scale(4, 1);
    }

    100% {
        transform: translate3d(-50px, 0px, 0px);
        -webkit-transform: translate3d(-50px, 0px, 0px);
        -moz-transform: translate3d(-50px, 0px, 0px);
    }
}

@-moz-keyframes stripMove {
    0% {
        transform: translate3d(-50px, 0px, 0px);
        -webkit-transform: translate3d(-50px, 0px, 0px);
        -moz-transform: translate3d(-50px, 0px, 0px);
    }

    50% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        transform: scale(4, 1);
        -webkit-transform: scale(4, 1);
        -moz-transform: scale(4, 1);
    }

    100% {
        transform: translate3d(50px, 0px, 0px);
        -webkit-transform: translate3d(50px, 0px, 0px);
        -moz-transform: translate3d(50px, 0px, 0px);
    }
}

@keyframes stripMove {
    0% {
        transform: translate3d(-50px, 0px, 0px);
        -webkit-transform: translate3d(-50px, 0px, 0px);
        -moz-transform: translate3d(-50px, 0px, 0px);
    }

    50% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        transform: scale(4, 1);
        -webkit-transform: scale(4, 1);
        -moz-transform: scale(4, 1);
    }

    100% {
        transform: translate3d(50px, 0px, 0px);
        -webkit-transform: translate3d(50px, 0px, 0px);
        -moz-transform: translate3d(50px, 0px, 0px);
    }
}
